/********* font style *********/
.text-4xl {
  font-size: 4rem;
  line-height: 5.6rem;
}
.text-3xl {
  font-size: 3.2rem;
  line-height: 4.2rem;
}
.text-2xl {
  font-size: 2.4rem;
  line-height: 3.2rem;
}
.text-xl {
  font-size: 2rem;
  line-height: 3.2rem;
}
.text-2lg {
  font-size: 1.8rem;
  line-height: 2.6rem;
}
.text-lg {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.text-md {
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.text-sm {
  font-size: 1.3rem;
  line-height: 2.2rem;
}
.text-xs-b {
  font-size: 1.2rem;
  line-height: 2rem;
}
.text-xs {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

/********* btn style *********/

a[class*="btn-"] {
  display: inline-block;
  background-color: var(--primary-100);
  color: var(--Secondary-gray-50);
  font-weight: 600;
}
a[class*="btn-"]:hover {
  background-color: var(--primary-200);
}
a[class*="btn-"]:active {
  background-color: var(--primary-300);
}
a[class*="btn-"]:is(.inactive) {
  background-color: var(--Secondary-gray-400);
}
a[class*="btn-"]:is(.outline) {
  border: 1px solid var(--primary-100);
  background-color: var(--Secondary-gray-50);
  color: var(--primary-100);
}
.btn-large {
  padding: 1.2rem 12.4rem;
  border-radius: 4rem;
  font-size: 2rem;
  line-height: 3.2rem;
}
.btn-medium {
  padding: 1.1rem 7.1rem;
  border-radius: 4rem;
  font-size: 1.8rem;
  line-height: 2.6rem;
}
.btn-small-40 {
  padding: 0.8rem 2.3rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.btn-small-48 {
  padding: 1.1rem 3rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
}
